// ---------------- FOOTER LOGO SECTION -----------//

.logoContainer {
  display: flex;
  justify-content: right;
  margin-right: 39.998px;
}

.opIcon {
  width: 30px;
  height: 30px;
  margin-right: 20.002px;
  cursor: pointer;
}

.arrakisIcon {
  width: 30px;
  height: 30px;
  margin-right: 20.002px;
  cursor: pointer;
}

.hanIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
